@import url('https://fonts.maateen.me/kalpurush/font.css');

/**
* ==> A4 size <==
* width: 793.7px;
* height: 1122.5px;
*/
/* Print Setting */
@media print {
	@page {
		size: 1122.5px 793.7px;
		size: landscape;
		margin: 1rem;
	}
}
/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
	background-color: rgb(243, 243, 242);
	font-family: 'Kalpurush', sans-serif;
}
/* ==> Container <== */
.container {
	height: 793px;
	width: 1122px;
	border: 1px solid black;
	position: relative;
}
/* ==> Header <== */
.main-box .header {
	width: 100%;
	height: 110px;
	border-bottom: 1px solid gray;
	padding: 10px;
	text-align: center;
	position: relative;
}
.logo {
	width: 120px;
	height: 110px;
	position: absolute;
	top: 0;
	left: 0;
}
.logo img {
	width: 100%;
	height: 100%;
}
/* ==> header texts <== */
.header .college-name {
	line-height: 1;
	color: #3b38a7;
}
.header .month {
	line-height: 1;
}
.heading-hazira {
	color: #9647b3;
}

/* !/==> total on top of table <==\! */
.total {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
}
.items {
	display: flex;
	gap: 5px;
}
.items div {
	padding: 2px 4px;
	display: flex;
	align-items: center;
}
.items div:last-child {
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
/* !/==> Table <==\! */
.table table {
	width: 100%;
	border-collapse: collapse;
}
.table table th {
	background-color: #022b2f;
	color: white;
}

.table table td,
.table table th {
	border: 1px solid #ddd;
	text-align: center;
	padding: 3px 5px;
}
/* !\==> Footer <==\! */
.footer {
	position: absolute;
	bottom: 1rem;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.footer .comment {
	display: flex;
	align-items: center;
	gap: 0 20px;
}

.footer .signature {
	display: flex;
	align-items: end;
}
