@import url('https://fonts.maateen.me/kalpurush/font.css');

/**
* ==> A4 size <==
* width: 793.7px;
* height: 1122.5px;
*/
/* Print Setting */
@media print {
	@page {
		size: 1122.5px 793.7px;
		size: landscape;
		margin: 1rem;
	}
}
/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	-webkit-print-color-adjust: exact !important;
	print-color-adjust: exact !important;
	font-family: 'Kalpurush', sans-serif;
}
/* ==> Container <== */
.container {
	height: 793px;
	width: 1122px;
	border: 1px solid black;
	position: relative;
}
/* ==> Header <== */
 .header {
	width: 100%;
	height: 110px;
	border-bottom: 1px solid gray;
	padding: 10px;
	text-align: center;
	position: relative;
}
.logo {
	width: 120px;
	height: 110px;
	position: absolute;
	top: 0;
	left: 0;
}
.logo img {
	width: 100%;
	height: 100%;
}
/* ==> header texts <== */
.header .college-name {
	line-height: 1;
	color: #3b38a7;
}
.header .month {
	line-height: 1;
}
.heading-hazira {
	color: #9647b3;
}

/* !\ ==> Select options <==\! */
.select {
	display: flex;
	gap: 2%;
	padding: 5px;
}

.section {
	display: flex;
	gap: 5px;
	align-items: center;
}
.section p:first-child {
	color: #3b38a7;
	font-weight: bold;
}
.section p:last-child {
	width: 4rem;
	border: 1px solid gray;
	padding: 2px;
	text-align: center;
}
/* !/==> Table <==\! */
.table table {
	width: 100%;
	border-collapse: collapse;
}
.table table th {
	background-color: #022b2f;
	color: white;
}

.table table td,
.table table th {
	border: 1px solid #ddd;
	text-align: center;
	padding: 3px 5px;
}
/* ----------------------- */


/* total */
.total {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	gap: 10px;
	margin: 20px;
}
.total div {
	display: flex;
	gap: 10px;
}
.total div h5 {
	margin: 0;
}
.attendance {
	border: blue 1px solid;
	background-color: blue;
}
.attendance h5:first-child {
	color: blue;
	background-color: white;
	padding: 5px;
}
.attendance h5:last-child {
	color: white;
	padding: 5px;
}
.enter {
	border: blueviolet 1px solid;
	background-color: blueviolet;
}
.enter h5:first-child {
	color: blueviolet;
	background-color: white;
	padding: 5px;
}
.enter h5:last-child {
	color: white;
	padding: 5px;
}
.exit {
	border: red 1px solid;
	background-color: red;
}
.exit h5:first-child, .exit h5:last-child {
	color: red;
	background-color: white;
	padding: 5px;
}
.exit h5:nth-child(2) {
	color: white;
	padding: 5px;
}
.fine {
	border: darkgreen 1px solid;
	background-color: darkgreen;
}
.fine h5:first-child, .fine h5:nth-child(3) {
	color: darkgreen;
	background-color: white;
	padding: 5px;
}
.fine h5:nth-child(2), .fine h5:last-child  {
	color: white;
	padding: 5px;
}